* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
}

input:focus-visible {
    outline: none;
}

#wrapper {
}

/*Login page*/
.contain_login {
    display: flex;
    flex-direction: row;
    padding: 180px 0 250px;
    margin: 0 463px;
}

.login_logo {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.login_logo img {
    width: 35%;
}

.login_logo span {
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
}

.form_login {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 24px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #bdbdbd;

}
.error_login {
    color: red;
    font-size: 14px;
    margin: 10px 0;
    height: 16px;
}
.error_register {
    color: red;
    font-size: 14px;
    margin: 10px 0;
    min-height: 1px;
}
.form_login input {
    width: 364px;
    height: 52px;
    padding: 14px 16px;
    font-size: 16px;
    border: 1px solid #ceced2;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form_login input:focus-visible {
    border: 1px solid blue;
    outline: none;
    box-shadow: 1px 1px 10px #bdbdbd;
}

.login_button {
    width: 364px;
    height: 48px;
    background-color: #0866ff;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.forgot_password {
    color: #0866ff;
    margin-bottom: 15px;
}

.form_login hr {
    width: 364px;
    border: none;
    border-bottom: 1px solid #E6E4EB;
    margin-bottom: 15px;
}

.regis_button {
    width: 180px;
    height: 48px;
    border: none;
    background-color: #42B72A;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.footer_login {
    background-color: white;
    height: 165px;
}

.footer_content {
    margin: 0 464px;
    height: 70%;
    display: flex;
    align-items: flex-end;
    color: #8A8D91;
    font-size: 12px;
}

.modal_register {
    position: fixed;
    background: rgb(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    visibility: hidden;
}

.open_modal_register {
    visibility: visible;
}

.form_register {
    position: fixed;
    width: 432px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 3px 7px #a6a6a8;
}

.register_header {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    border-bottom: 1px solid #E6E4EB;
    position: relative;
}

.regis_header1 {
    font-size: 32px;
    font-weight: 600;
}

.regis_header2 {
    font-size: 16px;
    color: #606770;
}

.register_header i {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 24px;
    color: #606771;
}

.regis_main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}

.regis_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 10px;

}

.regis_name input {
    width: 194px;
    height: 40px;
    padding: 11px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
}

.regis_email {
    margin-bottom: 10px;
}

.regis_email input {
    width: 100%;
    height: 40px;
    padding: 11px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
}

.regis_confirmemail {
    margin-bottom: 10px;
}

.regis_confirmemail input {
    width: 100%;
    height: 40px;
    padding: 11px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
}

.regis_password {
    margin-bottom: 10px;
}

.regis_password input {
    width: 100%;
    height: 40px;
    padding: 11px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
}

.regis_birthday {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.regis_birthday label {
    font-size: 12px;
    color: #606770;
    margin-bottom: 5px;
}

.regis_birthdayinput {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.regis_birthdayinput input {
    width: 125px;
    height: 36px;
    padding: 11px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
}

.regis_gender {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.regis_gender label {
    font-size: 12px;
    color: #606770;
    margin-bottom: 5px;
}

.regis_genderinput {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.genderinput_male, .genderinput_female {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    width: 105px;
    height: 36px;
    border: 1px solid #bdc7d8;
}

.genderinput_male {
    margin-right: 20px;
}

.regis_rule {
    font-size: 11px;
    color: #777777;
}

.regis_confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.regis_confirm button {
    width: 194px;
    height: 36px;
    border: none;
    background-color: #42B72A;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

/*navbar*/
.navbar {
    padding: 0 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 10px 1px #f1f1f1;
}

.nav_left {
    display: flex;
    justify-content: center;
}

.nav_logo {
    padding-right: 10px;
}

.nav_logo i {
    font-size: 40px;
}

.search_container {
    width: 240px;
    height: 40px;
    border-radius: 20px;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_container i {
    font-size: 16px;
    padding-right: 13px;
}

.search_container input {
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    border: none;
    padding-left: 15px;
    padding-right: 8px;
}

.search_container input:focus-visible {
    outline: none;
}

.nav_middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_home, .nav_video, .nav_market, .nav_group {
    width: 130px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_item_active {

}

.nav_item {
    font-size: 22px;
    color: #606266;
}

.nav_right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 290px;
}

.nav_right_item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8dadf;
    margin-left: 10px;
}

.nav_right_item i {
    font-size: 19px;
}

.nav_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*Main content*/
#container {
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.container_shortcut {
    margin-left: 10px;
    margin-top: 80px;
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
}

.shortcut_function {
    display: flex;
    flex-direction: column;
}

.shortcut_item {
    width: 100%;
    padding: 0 8px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shortcut_item:hover {
    background-color: #E6E4EB;
    border-radius: 5px;
}

.sc_profile_avatar {
    height: 100%;
    display: flex;
    margin-right: 12px;
    align-items: center;
}

.sc_profile_avatar img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.sc_item_label {
    font-size: 14px;
    color: #050505;
}

.sc_item_icon {
    width: 36px;
    height: 36px;
    display: flex;
    margin-right: 12px;
    align-items: center;
}

.sc_item_icon img {
    width: 80%;
}

.sc_more_icon {
    background-color: #E6E4EB;
    border-radius: 50%;
    justify-content: center;
}

.sc_more_icon i {

}

/*status*/
.container_status {
    margin-top: 80px;
    width: 680px;
    height: auto;
}

.status_create {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px 16px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.create_avatar {
    margin-right: 8px;
}

.create_avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.create_input {
    width: 100%;
    background-color: #ececec;
    border-radius: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.create_input span {
    color: #65676B;
    font-size: 19px;
}

.status {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.status_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 12px 16px 0;
}

.status_avatar {
    margin-right: 8px;
    display: flex;
    flex-direction: row;
}

.status_avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.status_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}

.status_option {
    display: flex;
    align-items: center;
    position: relative;
}

.status_name span {
    font-weight: 600;
    font-size: 14px;
    color: #050505;
}

.status_name span:hover {
    text-decoration: underline;
}

.status_time span {
    color: #929396;
    font-size: 14px;
}

.status_option {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_option:hover {
    background-color: #E6E4EB;
}

.status_option i {
    color: #606266;
    font-size: 20px
}

.status_content {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.status_content .content {
    width: 100%;
    padding: 4px 16px 16px 16px;
    font-size: 15px;
    word-wrap: break-word;
}

.status_content .content_img {
    display: flex;
    justify-content: center;
    max-width: 680px;
    max-height: 750px;
}

.content_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.status_bottom {
    margin: 0 16px;
    display: flex;
    flex-direction: column;

}

.status_detail {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 10px 0;
    color: #676767;
}

.count_like {
    width: 70%;
}

.comment_share {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status_function {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.function_like, .function_comment, .function_share {
    width: 222px;
    height: 44px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    color: #65676B;
}

.function_like i, .function_comment i, .function_share i {
    padding-right: 10px;
    margin: -5px 0;
}

.create_comment {
    width: 100%;
    padding: 6px 16px 6px 16px;
    display: flex;
    flex-direction: row;
}

.comment_avatar {
    width: 32px;
    height: 32px;
    margin: 2px 6px 0 0;
}

.comment_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment_input {
    width: calc(100% - 32px - 6px);
    display: flex;
    flex-direction: row;
    background-color: #f0f2f5;
    min-height: 36px;
    align-items: center;
    border-radius: 50px;
}

.cmt_create_input {
    padding-left: 15px;
    width: 90%;
}

.editable {
    color: black;
    cursor: text;
    font-size: 17px;
}

.editable[contenteditable]:empty::before {
    content: "Viết bình luận công khai...";
    color: gray;
}

.editable:focus-visible {
    outline: none;
}

.comment_input:focus-within {
    min-height: 56px;
    border-radius: 10px;
}

.cmt_create_img {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6e6e6e;
}

hr {
    border: #d8dadf 1px solid;
}

.contain_comment {
}

.comment {
    width: 100%;
    padding: 10px 16px 6px 16px;
    display: flex;
    flex-direction: row;
}

.comment_right {
    display: flex;
    flex-direction: column;
    max-width: 584px;
}

.comment_top {
    background-color: #f0f2f5;
    padding: 10px 10px;
    border-radius: 15px;
}

.comment_name {
    font-weight: 700;
    font-size: 12px;
    color: #050505;
}

.comment_content {
    font-size: 14px;
    color: #050505;

}

.comment_bottom {
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: row;
}

.comment_createAt {
    color: #65676B;
    font-size: 12px;
    margin-right: 15px;
}

.comment_like, .comment_reply {
    color: #65676B;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
}

.comment_more {
    position: relative;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: white;
    visibility: hidden;
    color: #65676B;
    font-size: 14px;
}

.comment:hover .comment_more {
    visibility: visible;
}

.comment_more:hover {
    background-color: #E6E4EB;
}

.comment_function {
    position: absolute;
    width: 300px;
    background-color: white;
    box-shadow: 1px 3px 7px #a6a6a8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    top: 40px;
    visibility: hidden;
}

.del_comment_btn {
    height: 33px;
    display: flex;
    align-items: center;
    padding: 12px 8px;
    margin: 0 8px 8px;
    font-size: 14px;
    color: #050505;
    border-radius: 5px;
}

.del_comment_btn:hover {
    background-color: #f1f1f1;
}

.edit_comment_btn {
    height: 33px;
    display: flex;
    align-items: center;
    padding: 12px 8px;
    margin: 8px 8px 0;
    font-size: 14px;
    color: #050505;
    border-radius: 5px;
}

.edit_comment_btn:hover {
    background-color: #f1f1f1;
}

.container_friend {
    width: 360px;
    height: auto;
    margin-top: 80px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    overflow-y: auto;
    padding-top: 5px;
}

.friend_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 22px;
    margin-bottom: 15px;
}

.friend_header_title {
    width: 90%;
    font-size: 16px;
    color: #65676B;
    font-weight: 600;
    padding: 0 8px;
}

.friend_header_search {
    width: 32px;
    height: 32px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.friend_header_search:hover {
    background-color: #E6E4EB;
    border-radius: 50%;
}

.friend_header_search i {
    font-size: 15px;
    color: #65676B;
}

.friend_header_more {
    width: 32px;
    height: 32px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friend_header_more:hover {
    background-color: #E6E4EB;
    border-radius: 50%;
}

.friend_header_more i {
    font-size: 18px;
    color: #65676B;
}

.contain_list_friend {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.friend_label {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;
}

.friend_label:hover {
    border-radius: 5px;
    background-color: #E6E4EB;
}

.friend_avatar {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.friend_avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.friend_fullname {
    font-size: 14px;
    color: #050505;
    font-weight: 500;
}

/*Option for status*/
.option_status {
    width: 150px;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 30px;
    left: -130px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #bdbdbd;
    visibility: hidden;
}

.edit_status, .delete_status {
    padding: 10px 20px;
}

.edit_status {
    border-bottom: 1px solid #c5c5c5;
}

.edit_status i, .delete_status i {
    margin-right: 15px;
    font-size: 17px;
}

.delete_status i, .delete_status span {
    width: 17px;
    height: 17px;
    color: red;
}

.option_status_open {
    visibility: visible;
}

.modal_create_status {
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    height: 929px;
    z-index: 2;
    visibility: hidden;
}

.modal_create_status_open {
    visibility: visible;
}

.form_create_status {
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}

.create_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dadada;
}

.create_header span {
    font-size: 20px;
    font-weight: bold;
    color: #050505;
}

.create_close {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E6E4EB;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
}

.create_close i {
    font-size: 20px;
    color: #65676B;
}

.create_user {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    margin: 0 16px;
}

.create_user_avatar {
    width: 40px;
    height: 40px;
}

.create_user_avatar img {
    width: 100%;
    border-radius: 50%;
    height: 100%;

}

.create_user_right {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.create_user_username {
    margin-top: -5px;
    font-size: 14px;
    font-weight: 600;
    color: #050505;
}

.create_user_author select {
    background-color: #E6E4EB;
    font-size: 12px;
    color: #050505;
    font-weight: 600;
    width: 100px;
    height: 25px;
    padding: 0 3px;
    border: none;
    border-radius: 5px;
}

.create_user_author select:focus-visible {
    outline: none;
}

.create_content {
    display: flex;
    flex-direction: column;
    padding: 0 16px 20px;
    min-height: 152px;
    width: 100%;
}

.create_main_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;

}

.create_status_input {
    width: 100%;
    margin-bottom: 30px;
}

.editable2 {
    color: black;
    cursor: text;
    font-size: 19px;
}

.editable2[contenteditable]:empty::before {
    content: "Bạn đang nghĩ gì thế?";
    color: gray;
    font-size: 20px;
}

.editable2:focus-visible {
    outline: none;
}

.create_image {
    width: 466px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.create_image img {
    width: 450px;
    border-radius: 5px;
}

.create_delete_image {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    border: 1px solid #E6E4EB;
    font-size: 20px;
    color: #9d9da6;
    visibility: hidden;
}

.create_delete_image:hover {
    background-color: #E6E4EB;
}

.create_function {
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin: 16px 0;
    border: 1px solid #c7c7cc;
    height: 55px;
    align-items: center;
    border-radius: 5px;
    padding-left: 15px;
}

.create_function span {
    font-size: 14px;
    font-weight: 600;
    color: #050505;
    margin-right: 20px;
}

.create_function i {
    font-size: 21px;
}

#file-upload {
    display: none;
}

#file-upload2 {
    display: none;
}

.create_post {
    padding: 16px 0 0;
    margin: -4px;
}

.create_post button {
    width: 100%;
    height: 36px;
    background-color: #e4e6eb;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

/*modal delete status*/
.modal_delete_status {
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    height: 929px;
    z-index: 2;
    visibility: hidden;
}

.modal_delete_status_open {
    visibility: visible;
}

.form_delete_status {
    position: fixed;
    width: 548px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}

.delete_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dadada;
}

.delete_header span {
    font-size: 20px;
    font-weight: bold;
}

.delete_close {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E6E4EB;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
}

.delete_close i {
    font-size: 20px;
}

.delete_content {
    display: flex;
    flex-direction: column;
}

.delete_alert {
    padding: 12px 16px;
    font-size: 15px;
}

.delete_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
}

.delete_btn_confirm button {
    width: 108px;
    height: 36px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #0866ff;
    border-radius: 5px;
}

.delete_btn_cancel {
    padding-right: 8px;
}

.delete_btn_cancel button {
    width: 52px;
    height: 32px;
    background-color: transparent;
    color: #0064D1;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.delete_btn_cancel button:hover {
    background-color: #E6E4EB;
}

/*profile*/
.contain_profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain_profile_header {
    background-color: white;
    width: 100%;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 5px 6px #f1f1f1;
}

.profile_cover_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.profile_cover_photo img {
    width: 1250px;
    height: 550px;
    border-radius: 5px;
}

.profile_info {
    width: 1210px;
    height: 145px;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    margin-bottom: 16px;
}

.profile_info_avatar {
    width: 176px;
    height: 145px;
    margin-right: 16px;
}

.profile_info_avatar img {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    margin-top: -30px;
    border: 4px solid white;

}

.profile_info_name {
    width: 60%;
    margin: 32px 0 16px;
}

.profile_info_fullname span {
    font-size: 32px;
    color: #050505;
    font-weight: bold;
}

.profile_info_cfriend {
    margin-top: 3px;
}

.profile_info_cfriend span {
    color: #65676B;
    font-size: 15px;
    font-weight: 600;
}

.profile_info_manager {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.pro_btn_edit {
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
    color: #050505;
    font-weight: 600;
    background-color: #E6E4EB;
    border-radius: 5px;
    border: none;
}

.pro_btn_acpt {
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    background-color: #0866ff;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

.profile_acpt_friend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1210px;
    padding: 0 16px;
    height: 68px;
    background-color: #f7f8fa;
    border-radius: 5px;
    margin-bottom: 16px;
}

.pro_acpt_title {
    font-size: 16px;
    font-weight: 600;
    color: #050505;
}

.pro_acpt_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pro_btn_mess2 {
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    background-color: #0866ff;
    border-radius: 5px;
    border: none;
}

.pro_btn_fr {
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
    color: #050505;
    font-weight: 600;
    background-color: #E6E4EB;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

.pro_btn_mess {
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
    color: #050505;
    font-weight: 600;
    background-color: #E6E4EB;
    border-radius: 5px;
    border: none;
}

.profile_bottom {
    display: flex;
    flex-direction: row;
    width: 1210px;
    border-top: 1px solid #ccced2;
}

.profile_functions {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profile_fun_item {
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #65676B;
    font-weight: 600;
}

.profile_functions_more {
    display: flex;
    align-items: center;
}

.function_more {
    height: 36px;
    padding: 0 16px;
    background-color: #E6E4EB;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
}

.contain_profile_main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.profile_main_left {
    width: 490px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.profile_description {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    padding: 16px 16px;
}

.describe_header {
    font-size: 20px;
    font-weight: 600;
}

.describe_description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    font-size: 14px
}

.describe_item {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.describe_item i {
    width: 35px;
    padding: 6px;
    font-size: 20px;
    color: #8c939d;
}

.describe_item span {
    padding: 6px;
    font-size: 14px;
    color: #050505;
}

.describe_createAt {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.describe_createAt i {
    width: 35px;
    padding: 6px;
    font-size: 20px;
    color: #8c939d;
}

.describe_createAt span {
    padding: 6px;
    font-size: 14px;
    color: #050505;
}

.profile_images {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 16px;
}

.images_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 26px;
}

.images_header {
    font-size: 20px;
    font-weight: 600;
}

.images_more button {
    font-size: 16px;
    color: #0064D1;
    background-color: transparent;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.images_more button:hover {
    background-color: #f2f2f2;
}

.profile_friends {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.friends_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 26px;
}

.friends_header {
    font-size: 20px;
    font-weight: 600;
}

.friends_more button {
    font-size: 16px;
    color: #0064D1;
    background-color: transparent;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.friends_more button:hover {
    background-color: #f2f2f2;
}

.friends_count {
    padding-top: 5px;
    font-size: 16px;
    color: #65676B;
}

.profile_main_right {
    width: 680px;
    display: flex;
    flex-direction: column;
    height: auto;
}

/*menu friend*/
.menu_friends {
    position: fixed;
    left: 0;
    top: 56px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 360px;
    height: 929px;
    padding: 0 8px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}

.menu_fr_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    padding: 0 8px;
}

.menu_fr_item:hover {
    background-color: #f0f2f5;
    border-radius: 10px;
}

.menu_fr_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 8px;
    height: 48px;
}

.menu_fr_title {
    font-size: 24px;
    color: #050505;
    font-weight: 600;
}

.menu_fr_option {
    font-size: 20px;
    color: #050505;
    width: 36px;
    height: 36px;
    background-color: #E6E4EB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_fr_icon {
    font-size: 18px;
    width: 36px;
    height: 36px;
    background-color: #E6E4EB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 12px;
}

.menu_fr_label {
    font-size: 16px;
    color: #050505;
}

.main_friends {
    width: 1545px;
    height: 500px;
    margin-left: 360px;
    margin-top: 52px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contain_friend_req {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.friend_req_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.friend_req_title {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #050505;
    font-weight: 600;
}

.friend_req_all {
    display: flex;
    align-items: center;
    color: #0064D1;
    font-size: 16px;
}

.listfr_req {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.friend_req {
    margin: 4px;
    height: 354px;
    width: 202px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.friend_req_avatar {
    width: 202px;
    height: 202px;
}

.friend_req_avatar img {
    width: 202px;
    height: 202px;
    border-radius: 5px 5px 0 0;
}

.friend_req_info {
    width: 100%;
    padding: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friend_req_fullname {
    font-size: 16px;
    color: #050505;
    padding-bottom: 1px;
    font-weight: 600;
}

.friend_req_fullname:hover {
    text-decoration: underline;
}

.friend_req_mutual {
    font-size: 14px;
    color: #65676B;
    height: 30px;
    display: flex;
    align-items: center;
}

.friend_req_submit button {
    width: 100%;
    color: white;
    padding: 0 12px;
    font-weight: 600;
    font-size: 14px;
    background-color: #0866ff;
    border: none;
    height: 36px;
    border-radius: 5px;
}

.friend_req_submit button:hover {
    background-color: #005df5;
}

.friend_req_add button {
    width: 100%;
    color: #0064D1;
    padding: 0 12px;
    font-weight: 600;
    font-size: 14px;
    background-color: #EBF5FF;
    border: none;
    height: 36px;
    border-radius: 5px;
}

.friend_req_add button:hover {
    background-color: #e1eafc;
}

.friend_req_cancel {
    margin-top: 6px;
}

.friend_req_cancel button {
    width: 100%;
    color: #050505;
    padding: 0 12px;
    font-weight: 600;
    font-size: 14px;
    background-color: #E6E4EB;
    border: none;
    height: 36px;
    border-radius: 5px;
}

.friend_req_cancel button:hover {
    background-color: #dcd9e3;
}

.lstfriend_hr {
    margin: 12px 0;
}

.friend_req_more {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    font-size: 16px;
    color: #0064D1;
    font-weight: 600;
}

.friend_req_more:hover {
    background-color: #E6E4EB;
    border-radius: 5px;
}

.friend_req_more span {
    margin-right: 10px;
}

.no_friend_req {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #65676B;
    font-size: 20px;
    font-weight: 600;
}

/*modal edit profile*/
.modal_edit_profile {
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    height: 929px;
    z-index: 2;
    visibility: hidden;
    overflow-y: auto;
}

.modal_edit_profile_open {
    visibility: visible;
}

.form_edit_profile {
    position: absolute;
    width: 700px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}

.edit_profile_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dadada;
}

.edit_profile_header span {
    font-size: 20px;
    font-weight: bold;
}

.edit_profile_close {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E6E4EB;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
}

.edit_profile_header i {
    font-size: 20px;
}

.edit_profile_content {
    display: flex;
    flex-direction: column;
}

.edit_ava_header {
    display: flex;
    flex-direction: column;
}

.edit_ava_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px 4px;
}

.edit_ava_title {
    font-size: 20px;
    color: #050505;
    font-weight: 600;
}

.edit_ava_upload label {
    color: #0064D1;
    font-size: 16px;

}

.edit_ava_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

.edit_ava_avatar img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
}

.file-upload {
    display: none;
}

.edit_cover_image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

.edit_cover_image img {
    width: 500px;
    height: 185px;
    border-radius: 5px;
}

.edit_input_description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    margin-top: 5px;
}

.edit_input_description textarea {
    width: 213px;
    height: 69px;
    padding: 8px 12px;
    text-align: center;
    background-color: #f0f2f5;
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
    border: 1px solid #c3c3c7;
}

.edit_input_description textarea:focus-visible {
    background-color: white;
    outline: 1px solid #0064D1;
    border: none;
}

.edit_input_remain {
    display: flex;
    justify-content: right;
    width: 213px;
    color: #65676B;
    font-size: 12px;
    margin-top: 5px;
}

.edit_information {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.edit_info_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.edit_info_item i {
    width: 35px;
    padding: 6px;
    font-size: 20px;
    color: #8c939d;
}

.edit_info_item span {
    padding: 6px;
    font-size: 16px;
    color: #050505;
    width: 80px;
}

.edit_info_item input[type="text"] {
    height: 35px;
    font-size: 14px;
    border: 1px solid #8c939d;
    border-radius: 5px;
    padding-left: 10px;
}

.describe_male, .describe_female {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 5px;
    width: 70px;
    border: 1px solid #8c939d;
    margin-right: 30px;
    height: 35px;
}

.edit_btn_save {
    padding: 20px 16px;
}

.edit_btn_save button {
    width: 100%;
    height: 40px;
    background-color: #EBF5FF;
    color: #0064D1;
    font-size: 16px;
    padding: 0 12px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.create_comt_btnsent {
    background-color: transparent;
    border: none;
    color: #6e6e6e;
}

.contain_demo_friend {
    display: flex;
    align-items: flex-start;
    padding-top: 16px;
    flex-wrap: wrap;
    width: 100%;
}

.pro_friend {
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 183px;
    margin:0 3px 12px;
}

.pro_friend_img img {
    width: 145px;
    height: 145px;
    border-radius: 8px;
}

.pro_friend_name {
    font-size: 13px;
    color: #050505;
    font-weight: 600;
}

.contain_all_friend {
    width: 1210px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.all_friend_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.all_friend_title {
    font-size: 20px;
    color: #050505;
    font-weight: 600;
    width: 60%;
}

.all_friend_search {
    width: 205px;
    height: 36px;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    padding: 0 10px;
    margin-right: 20px;

}
.all_friend_search i {
    color: #8c939d;
}
.all_friend_search input {
    background-color: transparent;
    padding: 7px 6px 9px;
    font-size: 14px;
    width: 100%;
    border: none;
}
.all_friend_req, .all_friend_sug {
    text-align: center;
    font-size: 14px;
    color: #0064D1;
    font-weight: bold;
    width: 11%;
}
.all_friend {
    width: 100%;
    display: flex;

    align-items: flex-start;
    flex-wrap: wrap;
    margin-top:50px;
}
.all_friend_item {
    width: 382px;
    display: flex;
    flex-direction: row;
    padding: 16px;
    border: 1px solid #f0f2f5;
    border-radius: 5px;
    margin: 0 5px 8px;
}
.all_friend_avatar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.all_friend_avatar img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}
.all_friend_fullname {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #050505;
}